# Managed by ansible
[Unit]
Description=opensearch daemon
Wants=network-online.target
After=network-online.target
Documentation=https://github.com/trombik/ansible-role-opensearch

[Service]
WorkingDirectory={{ opensearch_root_dir }}
{% if ansible_os_family == 'Debian' -%}
EnvironmentFile=/etc/default/opensearch
{% elif ansible_os_family == 'RedHat' -%}
EnvironmentFile=/etc/sysconfig/opensearch
{% endif -%}

ExecStart={{ opensearch_root_dir }}/bin/opensearch
ExecStop=/bin/kill -s QUIT $MAINPID
Type=simple
User={{ opensearch_user }}
Group={{ opensearch_group }}

{% if ansible_os_family == 'Debian' %}
EnvironmentFile=/etc/default/{{ opensearch_service }}
{% elif ansible_os_family == 'RedHat' %}
EnvironmentFile=/etc/sysconfig/{{ opensearch_service }}
{% endif %}

# these are handled by opensearch
Environment=OPENSEARCH_PATH_CONF={{ opensearch_conf_dir }}
Environment=OPENSEARCH_JAVA_OPTS=
Environment=OPENSEARCH_TMPDIR=
Environment=ES_STARTUP_SLEEP_TIME=5
Environment=OPENSEARCH_STARTUP_SLEEP_TIME=5

# systemd-specific
LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
